*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif; 
}

.container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin: 0 auto;
    padding: 20px;
}

.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}

.header-bio{
    float: left;
    padding: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: #11999e;
}

.header-contact{
    float: right;
    padding: 30px;
}

.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}

.div-clear{
    clear: both;
}

hr{
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

/*------Personal Section Start------*/

.content{
    margin-bottom: 30px;
}

.left-div{
    width: 30%;
    float: left;
}

.right-div{
    width: 70%;
    float: left;
}

.common-hr{
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

/*------Key Skills Section Start------*/

.list{
    list-style: disc inside;
}

/*------Education Section Start------*/

.edu-left, .ref-left{
    float: left;
    width: 45%;
}

.edu-right, .ref-right{
    float: left;
    width: 45%;
}

/*------Footer Start------*/

.bottom-container{
    background-color: teal;
    text-align: center;
    padding: 10px;
}

.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

.bottom-container a:hover{
    text-decoration: underline;
    color: tomato;
    cursor: pointer;
}

.bottom-container p{
    color: white;
    margin-top: 20px;
}